.grid-container{
	width: 100%; 
	padding: 0 2rem;
}

.row{
	margin: 0 -2rem 2rem;
	font-size: 0;
	
}

.row:last-child{
	margin-bottom: 0;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}


/* ------- Grid Columns ------ */

[class*="col-"]{
	position: relative;
	float: left;

	/* ---- Gutter ---- */
	padding: 0 0.9rem;
	min-height: 1px;
}

.row [class*="col-"]:last-of-type{
	margin-right: -2rem;
}

.col-1{
	width: 33.33%;
}

.col-2{
	width: 66.66%;
}

.col-3{
	width: 100%;
}