.u-link{
	color: white;
	position: relative;
	transition: color 0.2s ease-in;
	text-decoration: none;

		&:after{
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1px;
			width: 100%;
			bottom: 0;
			left: 0;
			background-color: $color-gold;
			transition: box-shadow 0.2s ease-out;
		}

		&:hover{
			//color: rgba(white, 0.7);

			&:after{
				box-shadow: 0 2px 15px 5px rgba($color-gold, 0.2);
			}
		}
}


.u-work-list{
	display: inline-block;

	ul{
		list-style-type: none;
		padding: 0;
		margin-top:0;

		p{
			
			color: black;
			margin-top:0;
			font-size: $fontSize-base;
		}

		li{
		margin-bottom: 10px;

			a{
			
				font-size: $fontSize-small;
				text-decoration: none;
				color: $color-grey;
				transition: color 0.2s ease-in;

				&:hover{
					color: rgba(grey, 0.3);
				}
			}
		}
	}
}

.btn{
	opacity: 1;
	z-index: $zIndex-6;
	text-align: center;
	padding: 0.5rem 0.4rem;
	transform: translate(-50%, -50%) scale(0.9);
	border: 1px solid white;
	border-radius: 4px;
	margin-top: 2rem;
}

.btn:nth-of-type(2){
	margin-left: 0.7rem;
}