.u-link{
	color: white;
	position: relative;
	transition: color 0.2s ease-in;
	text-decoration: none;

		&:after{
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1px;
			width: 100%;
			bottom: 0;
			left: 0;
			background-color: $color-gold;
			transition: box-shadow 0.2s ease-out;
		}

		&:hover{
			//color: rgba(white, 0.7);

			&:after{
				box-shadow: 0 2px 15px 5px rgba($color-gold, 0.2);
			}
		}
}


.u-work-list{
	display: inline-block;

	ul{
		list-style-type: none;
		padding: 0;
		margin-top:0;

		p{
			
			color: black;
			margin-top:0;
			font-size: $fontSize-base;
		}

		li{
		margin-bottom: 10px;

			a{
			
				font-size: $fontSize-small;
				text-decoration: none;
				color: $color-grey;
				transition: color 0.2s ease-in;

				&:hover{
					color: rgba(grey, 0.3);
				}
			}
		}
	}
}

.button{
	position: absolute;
	opacity: 0;
	z-index: $zIndex-6;
	top: 50%;
	left: 50%;
	width: 155px;
	height: 45px;
	transform: translate(-50%, -50%) scale(0.3);
	border-radius: 3rem;
	background-color: rgba(#111, 0.8);
	transition: all 0.3s ease-out, transform 0.1s ease-out;
	box-shadow: 0 5px 1rem 0.3rem rgba(black, 0.2);

	&::after{
		content: "Case Study Soon";
		font-size: 0.85rem;
		display: inline-block;
		white-space: nowrap;
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		color: white;
		@include open-sans-4;
		font-family: "Open Sans", sans-serif;
	}

	&:hover{
		transform: translate(-50%, -50%) scale(1.5);
	}
}