// Z-Index Scale (private vars)
// --------------------------------------------------

$zIndex-1: 	  -200;
$zIndex-2:    -100;
$zIndex-3:    100;
$zIndex-4:    200;
$zIndex-5:    300;
$zIndex-6:    400;
$zIndex-7:    500;
$zIndex-8:    600;
$zIndex-9:    700;
$zIndex-10:   800;
